@charset "utf-8";
/* CSS Document */

#events{
	background-attachment: fixed;
}
#carousel-inner{
	background-attachment: fixed;
}
#carousel-inner #carousel-item{
	background-attachment: fixed;
	
}
#tester{
	background:#fff;
	width:100%;
	height:400px;
}

